@media screen and (max-width: 375px) {
    .autor {
      width: 100%;
      background-size: contain;
      background: url("./../../images/authorbg.jpg");
    }
  }

  .autor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

