@media screen and (max-width: 375px) {
  .header__logo {
    background-image: url("../../../images/mainLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 96px;
    height: 54px;
  }
}
