@media screen and (max-width: 375px) {
  .body-root {
    max-width: 320px;
  }
}

.body-root {
  background: #a4a393;
  margin: 0 auto;
  font-family: "Inter", ‘Arial’, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
}
