.book-header-preview__about {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 8px;
  margin-bottom: 68px;

  color: #fdf6f2;
}
